@media (max-width: 1367px) {
    .mid_content {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .headerMenu {
        width: 60%;
    }
    .header_button {
        width: 11%;
    }
}

@media (max-width: 1203px)  {
    .headerMenu {
        width: 59%;
    }
    .header_button {
        width: 12%;
    }
    .s_icon {
        min-height: 160px;
    }
    .s_content h3 {
        font-size: 23px;
    }
    .s_content p {
        font-size: 19px;
    }
}

@media (max-width: 1106px) {
    .headerMenu {
        width: 58%;
    }
    .header_button {
        width: 13%;
    }
}
@media (max-width: 1204px) {
    .headerMenu {
        width: 57%;
    }
    .header_button {
        width: 14%;
    }
}

@media (max-width: 1100px) {
    .right_text h3 {
        font-size: 33px;
        font-weight: 400;
        margin-bottom: 24px;
        margin-top: -14px;
    }
    .s_icon {
        margin-right: 10px;
    }
}


@media (max-width: 1050px){
    .banner_section {
        margin-top: 0;
        padding: 95px 0;
    }
    .headerSection {
        position: relative;
    }
 
}

/* Main CSS, Style.css */
.PrimaryMenu span {
    display: none;
}


@media (max-width: 992px) {
    .header_logo {
        width: 100%;
        text-align: center;
        margin-bottom: 13px;
    }
    .header_logo img {
        float: none;
    }
    .logo span {
        position: relative;
        top: -13px;
    }
    .headerMenu {
        width: 55%;
    }
    .PrimaryMenu span {
        font-size: 40px;
        color: #6278df;
        cursor: pointer;
        display: block;
    }
    .PrimaryMenu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .header_button {
        width: 40% !important;
        position: absolute;
        right: 16px;
        top: 65px;
    }
    .video_link {
        width: 100%;
        margin-bottom: 35px;
    }
    .right_text {
        width: 100%;
    }
    .service_section h1 {
        font-size: 40.6px;
    }
    .service_box {
        width: 48%;
    }
    .service_box:nth-child(2) {
        height: 232px;
        margin-bottom: 15px;
    }
    .service_box:nth-child(4) {
        height: 255px;
        margin-bottom: 15px;
    }
    .service_box:nth-child(6) {
        height: 232px;
        margin-bottom: 15px;
    }
    .service_box:nth-child(3n+3){
        margin-right: 20px;
    }
    .service_box:nth-child(2n+2){
        margin-right: 0;
    }
}

@media (max-width: 954px) {
    .headerMenu {
        width: 56%;
    }
    .header_button {
        width: 15%;
    }
}



@media (max-width: 922px) {
    .headerMenu {
        width: 55%;
    }
    .header_button {
        width: 16%;
    }

    .logo span {
        font-size: 23px;
    }
}



@media (max-width: 768px) {

    .banenr_content h2 {
        font-size: 50px;
    }
    .default_btn {
        padding: 15px 25px;;
        font-size: 17px;
    }
    .service_section h1 {
        font-size: 38px;
        margin-bottom: 25px;
        font-weight: 500;
    }
    .section_title p {
        font-size: 22px;
    }
}


@media (max-width:568px) {
    .banenr_content h3 {
        font-size: 21px;
        font-weight: 400;
    }
    .banenr_content h2 {
        font-size: 34px;
        margin: 20px 0;
    }
    .default_btn {
        padding: 13px 25px;
        font-size: 17px;
        display: block;
        margin-bottom: 14px;
    }
}