@media (max-width: 1367px) {
    .mid_content {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .headerMenu {
        width: 60%;
    }
    .header_button {
        width: 11%;
    }
    .t_item {
        width: 34%;
        margin-right: -22px;
    }
    .t_content::after {
        height: 26px;

    }
}

@media (max-width: 1203px)  {
    .headerMenu {
        width: 59%;
    }
    .header_button {
        width: 12%;
    }
    .s_icon {
        min-height: 160px;
    }
    .s_content h3 {
        font-size: 23px;
    }
    .s_content p {
        font-size: 19px;
    }
    .p_headign h4 {
        font-size: 22px;
    }
    .p_headign h1 {
        margin: 30px 0;
        font-size: 45px;
    }
    .p_headign p {
        font-size: 16px;
    }
    .p_content ul li {
        font-size: 22px;
    }
    .p_headign h5 {
        font-size: 19px;
        margin-bottom: 19px;
    }
}

@media (max-width: 1106px) {
    .headerMenu {
        width: 58%;
    }
    .header_button {
        width: 13%;
    }
}
@media (max-width: 1204px) {
    .headerMenu {
        width: 57%;
    }
    .header_button {
        width: 14%;
    }
    .s_content h3 {
        font-size: 22px;
    }
    .p_headign h5 {
        font-size: 21px;
    }
    .p_headign p {
        font-size: 20px;
    }
    .p_headign h4 {
        font-size: 25px;
    }
    .default_btn {
        font-size: 18px;
    }
}

@media (max-width: 1100px) {
    .right_text h3 {
        font-size: 33px;
        font-weight: 400;
        margin-bottom: 24px;
        margin-top: -14px;
    }
    .s_icon {
        margin-right: 10px;
    }
    .s_icon {
        width: 57px;
        font-size: 43px;
    }
    .p_headign h4 {
        font-size: 22px;
    }
    .p_headign h1 {
        margin: 30px 0;
        font-size: 45px;
    }
    .p_headign p {
        font-size: 16px;
    }
    .p_content ul li {
        font-size: 22px;
    }
    .p_headign h5 {
        font-size: 19px;
        margin-bottom: 19px;
    }
    .p_headign p {
        font-size: 18px;
    }
    .p_headign p {
        font-size: 18px;
    }
    .p_content ul li {
        font-size: 20px;
    } 
}
  

@media (max-width: 1056px) {
    .s_content h3 {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .s_icon {
        width: 54px;
        font-size: 41px;
    }
    .p_content ul li {
        font-size: 20px;
    }
  
}


@media (max-width: 1050px){
    .banner_section {
        margin-top: 0;
        padding: 95px 0;
    }
    .headerSection {
        position: relative;
    }
    .service_box {
        padding: 35px 32px;
    }
    .service_box:nth-child(2) {
        height: 230px;
    }
    .service_box:nth-child(2) h3 {
        font-size: 20px;
    }
    .s_icon {
        width: 48px;
        font-size: 40px;
    }
    .s_content h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .s_content p {
        font-size: 18px;
    }
    .pricing_table_item {
        width: 45%;
        margin-right: 2%;
        margin-left: 3%;
        margin-bottom: 45px;
    }
    .teble_3 {
        position: relative;
        left: 266px;
    }
    .p_content ul li {
        font-size: 21px;
    }
    .member_bio h4 {
	font-size: 24px;
	margin-bottom: 12px;
	font-weight: 500;
    }
    .p_content ul li {
	margin: 14px 0;
    }
    .same_item {
        width: 48%;
        padding: 20px;
        box-sizing: border-box;
    }
    .same_item img {
        margin-bottom: 22px;
        width: 100%;
    }
    .member_bio h4 {
        font-size: 22px;
    }
    .t_item {
        width: 37%;
        margin-right: -56px;
    }
}

/* Main CSS, Style.css */
.PrimaryMenu span {
    display: none;
}


@media (max-width: 992px) {
    .header_logo {
        width: 100%;
        text-align: center;
        margin-bottom: 13px;
    }
    .header_logo img {
        float: none;
    }
    .logo span {
        position: relative;
        top: -13px;
    }
    .header_button {
        width: 40% !important;
        position: absolute;
        right: 16px;
        top: 65px;
    }
    .video_link {
        width: 100%;
        margin-bottom: 35px;
    }
    .right_text {
        width: 100%;
    }
    .service_section h1 {
        font-size: 40.6px;
    }
    .service_box {
        width: 48%;
    }
    .service_box:nth-child(3n+3){
        margin-right: 20px;
    }
    .service_box:nth-child(2n+2){
        margin-right: 0;
    }
    .pricing_table_item {
        width: 94%;
        margin-right: 0;
    }
    .pricing_table_item:nth-child(3) {
        margin-right: 0;
        margin-left: 0;
        position: relative;
        left: 24px;
    }
    .team_members {
        margin-top: 65px;
    }
    .member_data {
        width: 48%;
        margin-bottom: 25px;
    }
    .content_map {
        width: 100%;
    }
    .content_form {
        width: 100%;
        text-align: center;
        margin-top: 55px;
    }
    .t_item {
        width: 37%;
    }

    /* Respoponsive Mobile Menu */
    .headerMenu {
        width: 55%;
    }
    .PrimaryMenu span {
        font-size: 40px;
        color: #6278df;
        cursor: pointer;
        display: block;
    }
    .PrimaryMenu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .PrimaryMenu .mobile_menu_checker:checked ~ ul{
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
    .PrimaryMenu ul li {
        position: relative;
        display: block;
    }
    .PrimaryMenu ul li ul {
        left: 158px;
        top: -120px;
    }
    .mobile_menu_checker {
        width: 37px;
        height: 41px;
        opacity: 0;
        cursor: pointer;
    }
    .PrimaryMenu span {
        position: absolute;
        top: 73px;
        pointer-events: none;
    }
    .mobile_menu_icon
}




@media (max-width: 954px) {
    .headerMenu {
        width: 56%;
    }
    .header_button {
        width: 15%;
    }
    .t_item {
        width: 37%;
    }
    .t_content::after {
        bottom: -14%;
    }
}



@media (max-width: 922px) {
    .headerMenu {
        width: 55%;
    }
    .header_button {
        width: 16%;
    }

    .logo span {
        font-size: 23px;
    }
    .section_title h2 {
        font-size: 45px;
        margin-bottom: 24px;
    }
    .section_title p {
        font-size: 23px;
    }
    .s_title h2 {
        font-size: 40px;
    }
   
}



@media (max-width: 768px) {
    .banenr_content h2 {
        font-size: 50px;
    }
    .default_btn {
        padding: 15px 25px;;
        font-size: 17px;
    }
    .service_section h1 {
        font-size: 38px;
        margin-bottom: 25px;
        font-weight: 500;
    }
    .section_title p {
        font-size: 22px;
    }
    .right_text {
        width: 100%;
        text-align: center;
    }
    .s_icon {
        min-height: 165px;
    }
    .section_title h2 {
        font-size: 45px;
        margin-bottom: 24px;
    }
    .section_title p {
        font-size: 23px;
    }
    .s_title h2 {
        font-size: 26px;
    }
    .default_input {
        width: 100%;
        margin-bottom: 20px;
    }
    .newsletter_title.newsletter_title h2 {
        margin-top: 40px;
        font-size: 34.8px;
    }
    .t_item {
        width: 100%;
        margin-right: -22px;
    }
    .PrimaryMenu ul li a {
        padding: 0px 12px;
    }
 
}

@media (max-width: 668px) {
    .service_box {
        width: 100%;
    }
    .b_heading h2 {
        font-size: 40px;
    }
    .b_heading {
        width: 100%;
    }
    .bt_content {
        width: 100%;
    }
    .bt_content p {
        margin-left: 0;
    }
}


@media (max-width: 650px) {
    .s_content p {
        font-size: 17px;
    }
    .service_box:nth-child(2) h3 {
        font-size: 18px;
    }   
    .s_content h3 {
        font-size: 18px;
        margin-bottom: 25px;
    }
}


@media (max-width:620px) {
    .same_item {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width:568px) {
    .banenr_content h3 {
        font-size: 21px;
        font-weight: 400;
    }
    .banenr_content h2 {
        font-size: 34px;
        margin: 20px 0;
    }
    .default_btn {
        padding: 13px 25px;
        font-size: 17px;
        display: block;
        margin-bottom: 14px;
    }
    .member_data {
        width: 100%;
    }
    .newsletter_title.newsletter_title h2 {
        margin-top: 35px;
        font-size: 32.8px;
    }
    .section_title p {
        font-size: 21px;
    }
}