*{
    margin: 0;
    padding: 0;
}
.textLeft{
    text-align: left;
}
.text_center{
    text-align: center;
}
.textRight{
    text-align: right;
}
.clear_fix::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid_content{
    max-width: 1295px;
    margin: auto;
}
.p_bg{
	background-color: #f7f9ff;
}
/* Begin main Css  */
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}

/* Header Section */
.headerSection {
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 6px 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
}
.headerSection a{
    color: #010101;;
}
.header_logo{
    width: 29%;
}
.header_logo img {
	margin-top: 5px;
	height: 45px;
	float: left;
	margin-right: 13px;
}
.logo span {
    display: inline-block;
    margin-top: 14px;
    font-size: 1.6rem;
    font-weight: 500;
	transition: .4s;
}
.logo span:hover{
	color: #cccccc;
}
.headerMenu {
	width: 61%;
}
/* Menu Start */
.PrimaryMenu ul{}
.PrimaryMenu ul li{
    display: inline-block;
}
.PrimaryMenu ul li a {
	display: block;
	padding: 0px 20px;
	font-size: 16px;
	line-height: 56px;
	transition: .5s;
}
.PrimaryMenu ul li a:hover{
	color: #6278df;
}
/* DropDown Menu */
.PrimaryMenu ul li{
    position: relative;
}
.PrimaryMenu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: scaleY(0);
    transform-origin: top center;
}
.PrimaryMenu ul li ul li{
	border-bottom: 1px solid #ddd;
}
.PrimaryMenu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.dropdown_2 {
	width: 242px !important
}
.dropdown_2 li {
	width: 100%;
}

/* Header Button */
.header_button{
    width: 10%;
    text-align: right;
}
.headerBtn {
	border: 2px solid #6278df;
	display: inline-block;
	padding: 10px 27px;
	margin: 7px 0 7px 0;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 700;
	color: #6278df !important;
	transition: .4s;
}
.headerBtn:hover{
	background: #6278df;
	color: #fff !important
	

}
/* Banner Section */
.banner_section {
	background: url(https://i.ibb.co/6BztJKr/mbr-4.jpg) no-repeat center center;
	background-size: cover;
	height: 190px;
	padding: 200px 0;
	color: #fff;
	position: relative;
	z-index: 9;
	margin-top: 35px;
}
.banner_section::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.32);
    z-index: -1;
}
.banenr_content h3 {
	font-size: 26px;
	font-weight: 400;
}
.banenr_content h2{
    font-size: 60px;
    margin: 30px 0;
}
.default_btn {
	color: #7d7d7d;
	padding: 20px 35px;
	background: #fff;
	display: inline-block;
	font-size: 21px;
	font-weight: 600;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 6px;
	transition: .4s;
}
.default_btn:hover{
    background: #6278df;
    color: #fff;
}

/* Banner Bottom */
.banner_bottom{
    background: #f7f9ff;
    padding: 100px 0;
}
.video_link{
    width: 48%;
}
.right_text{
    width: 48%;
}
.right_text h3 {
	font-size: 50px;
	font-weight: 400;
	margin-bottom: 35px;
    margin-top: -14px;
}
.right_text p {
	color: #767676;
	font-size: 21px;
	line-height: 32px;
	font-weight: 300;
}

/* Service Section */
.service_section{
    background: #fff;
    padding: 100px 0;
}
.section_title {
	margin-bottom: 90px;
}
.service_section h1 {
	font-size: 57.6px;
	margin-bottom: 30px;
}
.section_title p{
    color: #767676;
    font-size: 25px;
    font-weight: 300;
}

/* Service item */
.service_box {
	width: 32%;
	box-shadow: 4px 4px 20px rgba(0,0,0,.1);
	margin-right: 2%;
	padding: 48px 32px;
	box-sizing: border-box;
}
.service_box:nth-child(2){
	height: 254px;
}
.service_box:nth-child(3n+3){
	margin-right: 0;
}
.s_icon {
	width: 60px;
	float: left;
	min-height: 136px;
	font-size: 45px;
	color: #6278df;
	margin-right: 20px;
}
.s_content {
	margin-top: 10px;
}
.s_content h3 {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 30px;
}
.s_content p {
	color: #767676;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 300;
}

/* Pricing Table Css */
.pricing_table_section{
	background: #f7f9ff;
	padding: 50px;
}

.section_title h2 {
	font-size: 55px;
	font-weight: 400;
	margin-bottom: 30px;
}
.pricing_tables{
	margin-top: 80px;
}
.pricing_table_item {
	width: 32%;   
	margin-right: 2%;
	background: #fff;
	box-shadow: 3px 4px 30px 0 rgba(111, 133, 217, 0.22);
	transition: .4s;
}
.pricing_table_item:nth-child(3){
	margin-right: 0;
}
.p_headign{
	padding: 30px;
	border-bottom: 1px solid #ddd;
	transition: .3s;
}
.pricing_table_item:hover .p_headign{
	background: #6278df;
	color: #fff;
}
.p_headign h4{
	font-size: 25px;
	font-weight: 500;
}
.p_headign h1{ 
	margin: 42px 0;
	font-size: 56px;
}
.p_headign span{
	font-size: 20px;
}
.p_headign h5{
	font-weight: 500;
	font-size: 21px;
	margin-bottom: 22px;
}
.p_headign p{
	font-size: 20px;
	line-height: 1.5em;
}
.p_content{
	padding: 30px;
}
.p_content ul{
	list-style: none;
}
.p_content ul li {
	margin: 25px 0;
	color: #767676;
	font-size: 22px;
}
.p_content ul span {
	display: inline-block;
	font-size: 35px;
	color: #6278df;
	width: 50px;
}
.p_button .default_btn {
	color: #6278df;
	box-shadow: 3px 4px 30px 0 rgba(166, 181, 236, 0.51);
	transition: .3s;
}
.pricing_table_item:hover .default_btn{
	background: #6278df;
	color: #fff;
}
.p_button {
	width: 246px;
	margin: auto;
}
.p_button:hover .default_btn{
	background: #000;
}
.pricing_table_item:hover {
	box-shadow: 3px 4px 30px 0 rgba(164, 177, 227, 0.57);
}

/* Team Section */
.team_section {
	padding: 70px 0;
}
.s_title h2 {
	font-size: 44.8px;
	padding-top: 35px;
	font-weight: 500;
}
.team_members{
	margin-top: 80px;
}
.member_data:nth-child(4){
	margin-right: 0;
}
.member_data{
	width: 23.50%;
	margin-right: 2%;
	background: #fff;
	box-shadow: 3px 4px 30px 0 rgba(166, 181, 236, 0.51);
}
.member_data img{
	width: 100%;
	border-radius: 5px 5px 00;
}
.member_bio{
	padding: 30px;
}
.member_bio h4{
	font-size: 25px;
	margin-bottom: 12px;
	font-weight: 500;
}
.member_bio p{
	color: #767676;
	font-size: 20px;
	font-weight: 300;
}


/* newsletter sectiion */
.newsletter_section{
	padding: 100px 0;
}
.newsletter_title.newsletter_title h2 {
	margin-top: 40px;
	font-size: 44.8px;
	margin-bottom: 0;
}
.newsletter_form{
	padding: 60px 0;
}
.default_input:focus {
	outline: none;
	box-shadow: 3px 4px 30px 0 rgba(99, 117, 200, 0.64);
	border: 1px solid #6278df;
}
.default_input{
	width: 310px;
	padding: 20px 15px;
	font-size: 20px;
	border: 1px solid #e4e4e4;
	border-radius: 10px;
	box-shadow: 3px 4px 30px 0 rgba(166, 181, 236, 0.1);
	transition: .4s;
	box-sizing: border-box;
}

.submit_btn{
	background: #6278df;
	font-size: 23px;
	color: #fff;
	border: none;
	padding: 20px 90px;
	font-weight: 500;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	margin-left: 15px;
	border: 2px solid #6278df;
	transition: .4s;
}
.submit_btn:hover{
	box-shadow: 3px 4px 30px 0 rgba(99, 117, 200, 0.64);
	background: #fff;
	color: #6278df;
}

/* Blog Section */
.blog_section{
	padding: 100px 0;
}
.blog_title{
	padding-bottom: 60px;
}
.b_heading{
	width: 50%;
}
.b_heading h2{
	font-size: 45px;
	font-weight: 500;
	margin-top: 25px;
}
.bt_content{
	width: 50%;
}
.bt_content p {
	color: #767676;
	font-weight: 400;
	font-size: 21px;
	line-height: 1.7em;
	margin-left: 25px;
}

.same_item {
	width: 48%;
	background: #fff;
	box-shadow: 3px 4px 30px 0 rgba(166, 181, 236, 0.26);
	transition: .4s;
}
.same_item img{
	float: left;
	width: 300px;
	margin-right: 30px;
}
.same_item:hover{
	box-shadow: 3px 4px 30px 0 rgba(164, 177, 227, 0.57);
}
.item_content h3{
	font-size: 21px;
	margin-top: 35px;
	margin-bottom: 20px;
	font-weight: 500;
}
.item_content p{
	color: #767676;
	font-size: 20px;
	line-height: 1.6em;
	font-weight: 300;
}

/* Testimonial Section */
.testimonial_section{
	padding: 100px 0;
}
.testimonial_items
.t_item{
	width: 444px;
	margin-right: -22px;
}
.t_item:last-child{
	margin-right: 0;
}
.t_content {
	background: #fff;
	box-shadow: 3px 4px 30px 0 rgba(166, 181, 236, 0.26);
	padding: 50px 40px;
	box-sizing: border-box;
	margin: 40px;
	position: relative;
	text-align: center;
	margin-bottom: 42px;
}
.t_content::after {
	content: "";
	position: absolute;
	bottom: -15%;
	left: 0;
	right: 0;
	margin: auto;
	width: 1px;
	height: 20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 25px solid #fff;
}
.t_content p {
	font-size: 20px;
	color: #767676;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 300;
	position: relative;
}
.t_content::before {
	content: "\f10d";
	font-family: FontAwesome;
	position: absolute;
	font-size: 80px;
	opacity: 0.07;
	left: 30px;
	top: 13px;
}
.t_user{
	width: 250px;
	margin: auto;
}
.t_user img{
	border-radius: 50%;
	width: 80px;
	float: left;
	margin-right: 24px;
}
.user_bio{
	position: relative;
	top: 13px;
}
.user_bio h4{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;
}
.user_bio span{
	display: inline-block;
	color: #767676;
	font-size: 17px;
}

/* Contact Section */
.contact_section{
	padding: 80px 0;
}
.content_map{
	width: 48%;
}
.content_form {
	width: 48%;
	margin-top: 40px;
}
.contact_form{
	margin-top: 60px;
}
.contact_form .w100{
	width: 100%;
}
.contact_form .w50{
	width: 48%;
	margin-right: 5px;
}
.contact_form .w50:nth-child(3){
	margin-right: 0;
}
.contact_form .default_input{
	margin-bottom: 20px;
}
.contact_form .submit_btn{
	margin-left: 0;
}
.content_form p{
	 font-size: 21px;
	 color: #767676;
	 line-height: 1.5;
	 font-weight: 300;
}
.content_form h4{
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 22px;
}
.footer{
	padding-top: 20px;
	margin-top: 60px;
}
.footer p{
	font-size: 20px;
}